@{
    Layout = null;
}
@model LoginModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <!-- Login pic -->
                <div class="col-md-8 col-lg-7 col-xl-6 d-none d-md-block">
                    <img src="/img/logo_img.svg" class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <div class="mb-4">
                        <h1 class="display-1" style="text-align:center; font-weight:400;">Sign in</h1>
                    </div>
                    <form method="post" novalidate>
                        <div asp-validation-summary="None" class="text-danger"></div>
                        <!-- Email -->
                        <div class="form-outline mb-4">
                            <label asp-for="Email" class="form-label" for="floatingemail">Email address</label>
                            <input asp-for="Email" type="email" class="form-control form-control-lg"/>
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>

                        <!-- Password -->
                        <div class="form-outline mb-4">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control form-control-lg" />
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>

                        <!-- Remember me switch -->
                        <div class="d-flex justify-content-around align-items-center mb-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" />
                                <label class="form-check-label" for="flexSwitchCheckChecked">Remember me</label>
                            </div>
                            <a href="#!">Forgot password?</a>
                        </div>
                        <!-- Submit button -->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="submit">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
