@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 240px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: calc(100% - var(--nav-width));
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: var(--nav-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

    .header_img img {
        width: 40px
    }

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

a.nav_link {
    text-decoration: none;
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
    font-size: 2rem;
    padding: 0 1rem;
}

.nav_logo_name {
    font-size: 14px;
    color: #fff;
}

.nav_link:first-child {
    margin-top: 100px;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

    .nav_link:hover {
        color: var(--white-color)
    }

.nav_icon {
    font-size: 1.25rem
}

.nav_img {
    width: 35px;
    border-radius: 50%;
    padding: -10px;
}

.active {
    color: #fff;
}

.dropdown {
    padding: .5rem 0 .5rem 1rem;
}

    .dropdown img {
        border: 3px solid rgb(175,165,217);
        width: 32px;
        height: 32px;
        transition: all 0.2s ease-in-out;
    }

        .dropdown img:hover {
            border-color: rgb(247,246,251);
        }

.container {
    width: calc(100% - var(--nav-width));
    margin: var(--header-height) 0 0 var(--nav-width);
}

@media (max-width: 320px) {
    .l-navbar {
        display: none;
    }

    .header {
        left: 0;
        width: 100%;
        padding: 0 10px;
        background-color: var(--first-color);
        color: #fff;
    }

    .nav_mobile {
        width: 100%;
        background-color: var(--first-color);
        position: fixed;
        top: 0;
        left: 0;
    }

    .container {
        width: 100%;
        padding-top: 20px;
    }

    .nav_logo {
        font-size: 30px;
        padding-top: 40px;
        color: #fff;
        font-weight: 500;
    }

    .nav_link {
        margin-top: 0;
        padding-top: 0;
        ;
    }

    #nav_mobile-links {
        height: 100vh;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .l-navbar {
        display: none;
    }

    .header {
        left: 0;
        width: 100%;
        padding: 0 10px;
        background-color: var(--first-color);
        color: #fff;
    }

    .nav_mobile {
        width: 100%;
        background-color: var(--first-color);
        position: fixed;
        top: 0;
        left: 0;
    }

    .container {
        width: 100%;
        padding-top: 20px;
    }

    .nav_logo {
        font-size: 30px;
        padding-top: 40px;
        color: #fff;
        font-weight: 500;
    }

    .nav_link {
        margin-top: 0;
        padding-top: 0;
        ;
    }

    #nav_mobile-links {
        height: 100vh;
    }
}

@media (min-width: 769px) and (max-width: 800px) {
    .l-navbar {
        display: none;
    }

    .header {
        left: 0;
        width: 100%;
        padding: 0 10px;
        background-color: var(--first-color);
        color: #fff;
    }

    .nav_mobile {
        width: 100%;
        background-color: var(--first-color);
        position: fixed;
        top: 0;
        left: 0;
    }

    .container {
        width: 100%;
        padding-top: 20px;
    }

    .nav_logo {
        font-size: 30px;
        padding-top: 40px;
        color: #fff;
        font-weight: 500;
    }

    .nav_link {
        margin-top: 0;
        padding-top: 0;
        ;
    }

    #nav_mobile-links {
        height: 100vh;
    }
}

@media (min-width: 801px) and (max-width: 1080px) {
    .l-navbar {
        display: none;
    }

    .header {
        left: 0;
        width: 100%;
        padding: 0 10px;
        background-color: var(--first-color);
        color: #fff;
    }

    .nav_mobile {
        width: 100%;
        background-color: var(--first-color);
        position: fixed;
        top: 0;
        left: 0;
    }

    .container {
        width: 100%;
        padding-top: 20px;
    }

    .nav_logo {
        font-size: 30px;
        padding-top: 40px;
        color: #fff;
        font-weight: 500;
    }

    .nav_link {
        margin-top: 0;
        padding-top: 0;
        ;
    }

    .dropdown {
        margin-top: 0px;
    }

    #nav_mobile-links {
        height: 100vh;
    }
}

@media (min-width: 1081px) and (max-width: 1366px) {
    .l-navbar {
        display: none;
    }

    .header {
        left: 0;
        width: 100%;
        padding: 0 10px;
        background-color: var(--first-color);
        color: #fff;
    }

    .nav_mobile {
        width: 20%;
        background-color: var(--first-color);
        position: fixed;
        top: 0;
        left: 0;
    }

    .container {
        width: 100%;
        padding-top: 20px;
    }

    .nav_logo {
        font-size: 30px;
        padding-top: 40px;
        color: #fff;
        font-weight: 500;
    }

    .nav_link {
        margin-top: 0;
        padding-top: 0;
        ;
    }

    #nav_mobile-links {
        height: 100vh;
    }
}

.fa-bars {
    color: #fff;
}

#nav_mobile-links {
    display: none;
}


@media (min-width: 1367px) {
    .nav_mobile-icon {
        display: none;
    }
    
    .container {
        width: calc(100% - var(--nav-width));
        margin: var(--header-height) 0 0 var(--nav-width);
            
}
